.header
{
    width: 100%;
    border: solid black;
    padding: 40px;
}

.main
{
    width: 50%;
    border: solid black;
    padding: 100px;
    
    margin-left: 25%;
    margin-top: 3%;

}

.footer
{
    width: 100%;
    border: solid black;
    padding: 40px;
    margin-top: 3%;
}