.header
{
    width: 100%;
    border: solid black;
    padding: 40px;
}

.mainRight
{
    width: 75%;
    border: solid black;
    padding: 100px;
    margin: 10px;
    margin-left: 26%;
    margin-top: 3%;
}

.footer
{
    width: 100%;
    border: solid black;
    padding: 40px;
    margin-top: 3%;
}

.mainLeft
{
    width: 25%;
    border: solid black;
    margin-top: 3%;
    padding-top: 11.4%;
    float: left;


}