.form {
    background-color: #fff;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    
  }

  body
  {
    display: flex;
    justify-content: center;
    padding: 10%;
  }

  .form-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #000;
  }

  .inputC input {
  position: relative;
  outline: none;
  border: 1px solid #9e9fa1;
  margin: 8px 0;
  background-color: #fff;
  padding: 2.5ex;
  width: 300px;
  border-radius: 0.5rem;
  
  }

  .sign {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #119921;
    color: #ffffff;
    width: 100%;
    border-radius: 10px;
    font-size: larger;
  }
  
  


  