body {
  display: flex;
  justify-content: center;
  margin: 10%;
  background-color: #f5f5f5;
}

.form {
  background-color: #fff;
  display: grid;
  justify-content: center;
  gap: 1rem;
  padding: 5%;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.inputC {
  display: grid;
  gap: 0.8rem;
}

.inputC input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

.sign {
  display: grid;
  padding: 10px;
  margin-left: 10px;
  background-color: #119921;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}
